
@import url('variables.css');
@import url('layout.css');
@import url('form.css');
@import url('text.css');

body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-synthesis: none;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    color: var(--fg);
    
    background-color: var(--bg);
    background-image: url(../images/sacred-stars-preview.gif);
    background-repeat: repeat;
    transition: background 0.3s, color 0.3s;

    padding: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.top-logo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    margin-left: 90px;
}



.dark-mode-btn {
    position: fixed;
    top: 1rem;
    right: 0.9rem;
    z-index: 1000;
    background: #4c4c6d;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.dark-mode-btn:hover {
    background: #595981;
}
.dark-mode-toggle-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}
.dark-mode-toggle {
    background: #4c4c6d;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.dark-mode-toggle:hover {
    background: #595981;
}


.footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: var(--fb);
  text-align: center;
}
.footer a {
  color: #0b85ff;
  text-decoration: none;
}



.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border: 2px solid #0f0;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

.spinner-text::before {
  content: "⠁";
  animation: spinText 1.5s steps(15, end) infinite;
  display: inline-block;
  margin-right: 0.5em;
  font-family: monospace;
  color: #0f0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinText {
  0% { content: "⠁"; }
  9.09% { content: "⠃"; }
  18.18% { content: "⠇"; }
  27.27% { content: "⠧"; }
  36.36% { content: "⠷"; }
  45.45% { content: "⠿"; }
  54.54% { content: "⠻"; }
  63.63% { content: "⠹"; }
  72.72% { content: "⠸"; }
  81.81% { content: "⠰"; }
  90.90% { content: "⠠"; }
  100%  { content: "⠁"; }
}
